    <mat-toolbar color="primary" class="navbar">
        <div>brand</div>
        <div>links</div>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <app-sidenav-toggle-buttons></app-sidenav-toggle-buttons>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- <router-outlet></router-outlet> -->
            <p>stuff main</p>

            <p>landing-page works!</p>

            <div class="mat-display-4"> this is display-4 text</div>
            <div class="mat-display-3"> this is display-3 text</div>
            <div class="mat-display-2"> this is display-2 text</div>
            <div class="mat-display-1"> this is display-1 text</div>
            <div class="mat-headline"> this is headline text</div>
            <div class="mat-title"> this is title text</div>
            <div class="mat-subheading-2"> this is subheading-2 text</div>
            <div class="mat-subheading-1"> this is subheading-1 text</div>
            <div class="mat-body-1"> this is body-1 text</div>
            <div class="mat-body-2"> this is body-2 text</div>
            <div class="mat-caption"> this is caption text</div>
            <div class="mat-button"> this is button text</div>
            <div class="mat-input"> this is input text</div>


        </mat-sidenav-content>
    </mat-sidenav-container>
