<div class="content-wrapper">
    <mat-toolbar color="primary" class="navbar">
        <div>brand</div>
        <div id='logoutdiv'>
            <auth-logout class="logoutdiv-content"></auth-logout>
            <div class="logoutdiv-content">links</div>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar-content">
        <mat-sidenav mode="side" opened disableClose>
            <app-sidenav-toggle-buttons></app-sidenav-toggle-buttons>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>